# Data type

# Type checking

In [ ]:
#int = integer
#float = floating
#str = string
#bool = boolean
#none = none

In [ ]:
print(type(1))
print(isinstance(1, int))

## Day3

In [ ]:
age = 18
firstname = "Arm"
is_odd = False

age = 19
print(age)

In [68]:
a = 1
b = 2

first_number = 1
second_number = 2

In [ ]:
name = "fjfa" #OK
Age = 17 #bad
first_number = 1 #OK
1var #bad

In [ ]:
#reserved variables (should not use!)
False

# Input

In [ ]:
name = input()
print("Hello", "welcome", name)

In [ ]:
# int()
a = int("4")
a = int("-1")
a = int(True)
# a = int("True")
a = int(2.4)
a = int(-2.4)
# a = int("2.4")
# a = int("-2.4")
print(a, type(a))

In [ ]:
# float()
a = float(-2)
a = float("-2")
a = float("-2.4")
a = float(True)
a = float(False)
# a = float("True")
print(a, type(a))

In [ ]:
# bool()
a = bool(1)
a = bool(3)
a = bool(-2)
a = bool(0)
a = bool(0.1)
a = bool(0.0)
a = bool("")
a = bool([])
a = bool(None)
print(a, type(a))

In [ ]:
# str()
a = str(1)
a = str(True)
a = str(2.5)
a = str(None)
a = str(print)
a = str(print())
print(a, type(a))

In [ ]:
a = bool(str(float(-2)))
print(a, type(a))

# Math Operations

In [ ]:
a = 1 + 1
a = 6 - 3
a = 4 * 5
a = int(6 / 3)
a = 6 // 3
a = 7 / 3
a = 7 // 3
a = 2 ** 3
a = 7 % 3
a = 54 % 5
a = 32.2 % 3
a = 10 % 3.3
a

In [ ]:
a = 0 ** 0
a = 9 % 0
a

In [ ]:
10.0 - 10

In [ ]:
0.1 + 0.2

In [ ]:
# 12.9 -> 12.0
float(int(12.9))
12.9 // 1

# Order of operations

In [ ]:
# () -> ** -> */ -> +-
# PEMDAS
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way to reorganize
a = 2*2 - 2/2 - 2**2 # 2nd way to reorganize
b = 2 * 2 -2 / 2 - 4
c = 4 - 1 - 4
d = -1

In [ ]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a
print(a, b)

In [ ]:
a = 1
a = a + 4 # SAME
a += 4 # SAME
a -= 3 # SAME TO a = a - 3
a *= 2
a /= 6 # SAME TO a = a / 6
a **= 5
a

# Logical Operators

In [ ]:
a = 5

2 > 3
a < 7
a == 6
a >= 5
a <= 2
a != 5

In [ ]:
# not, and, or
not True
not False

True and True
False and True
False and False
2 > 3 and 3 > 1

True or True
False or True
True or False
False or False

a = 5
b = 6
print(a != b-1 or b**2 > a)

In [ ]:
user_input = int(input())
user_firstname = input()
user_age = input()

## Adder Program

In [ ]:
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
#print(first_number, second_number)
added_result = first_number + second_number
print(added_result)

# Math Functions

In [ ]:
abs(-13)
abs(-12.45)
abs(-1.0)

In [ ]:
max(23, 5, -2, 0)
min(23, 5, -2, 0)

In [ ]:
round(2.45, 1)
round(-1.2563, 3)
round(985, -2)

# Turtle Library

In [ ]:
import turtle as tur
import colorsys as cs

tur.setup(800,800)
tur.speed(0)
tur.tracer(10)
tur.width(2)
tur.bgcolor("black")
for j in range(25):
    for i in range(15):
        tur.color(cs.hsv_to_rgb(i/15,j/25,1))
        tur.right(90)
        tur.circle(200-j*4,90)
        tur.left(90)
        tur.circle(200-j*4,90)
        tur.right(180)
        tur.circle(50,24)
tur.hideturtle
tur.done()

In [1]:
import turtle 

turtle.speed(1)
turtle.shape("turtle")

turtle.forward(200)
turtle.left(90) # turn left 90
turtle.forward(200)
turtle.left(90)
turtle.forward(200)
turtle.left(90)
turtle.forward(200)

turtle.forward(200)
turtle.right(90)
turtle.forward(200)

turtle.backward(100)
turtle.color('red')
turtle.backward(100)

turtle.penup()

turtle.pendown()

turtle.width(3)
turtle.circle(100, 180)

turtle.mainloop()