# Data type

# Type checking

In [18]:
#int = integer
#float = floating
#str = string
#bool = boolean
#none = none

In [ ]:
print(type(1))
print(isinstance(1, int))

## Day3

In [ ]:
age = 18
firstname = "Arm"
is_odd = False

age = 19
print(age)

In [21]:
a = 1
b = 2

first_number = 1
second_number = 2

In [ ]:
name = "fjfa" #OK
Age = 17 #bad
first_number = 1 #OK
1var #bad

In [ ]:
#reserved variables (should not use!)
False

# Input

In [ ]:
name = input()
print("Hello", "welcome", name)

In [ ]:
# int()
a = int("4")
a = int("-1")
a = int(True)
# a = int("True")
a = int(2.4)
a = int(-2.4)
# a = int("2.4")
# a = int("-2.4")
print(a, type(a))

In [ ]:
# float()
a = float(-2)
a = float("-2")
a = float("-2.4")
a = float(True)
a = float(False)
# a = float("True")
print(a, type(a))

In [ ]:
# bool()
a = bool(1)
a = bool(3)
a = bool(-2)
a = bool(0)
a = bool(0.1)
a = bool(0.0)
a = bool("")
a = bool([])
a = bool(None)
print(a, type(a))

In [ ]:
# str()
a = str(1)
a = str(True)
a = str(2.5)
a = str(None)
a = str(print)
a = str(print())
print(a, type(a))

In [ ]:
a = bool(str(float(-2)))
print(a, type(a))

# Math Operations

In [ ]:
a = 1 + 1
a = 6 - 3
a = 4 * 5
a = int(6 / 3)
a = 6 // 3
a = 7 / 3
a = 7 // 3
a = 2 ** 3
a = 7 % 3
a = 54 % 5
a = 32.2 % 3
a = 10 % 3.3
a

In [ ]:
a = 0 ** 0
a = 9 % 0
a

In [ ]:
10.0 - 10

In [ ]:
0.1 + 0.2

In [ ]:
# 12.9 -> 12.0
float(int(12.9))
12.9 // 1

# Order of operations

In [ ]:
# () -> ** -> */ -> +-
# PEMDAS
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way to reorganize
a = 2*2 - 2/2 - 2**2 # 2nd way to reorganize
b = 2 * 2 -2 / 2 - 4
c = 4 - 1 - 4
d = -1

In [ ]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a
print(a, b)

In [ ]:
a = 1
a = a + 4 # SAME
a += 4 # SAME
a -= 3 # SAME TO a = a - 3
a *= 2
a /= 6 # SAME TO a = a / 6
a **= 5
a

# Logical Operators

In [ ]:
a = 5

2 > 3
a < 7
a == 6
a >= 5
a <= 2
a != 5

In [ ]:
# not, and, or
not True
not False

True and True
False and True
False and False
2 > 3 and 3 > 1

True or True
False or True
True or False
False or False

a = 5
b = 6
print(a != b-1 or b**2 > a)

In [ ]:
user_input = int(input())
user_firstname = input()
user_age = input()

## Adder Program

In [ ]:
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
#print(first_number, second_number)
added_result = first_number + second_number
print(added_result)

# Math Functions

In [ ]:
abs(-13)
abs(-12.45)
abs(-1.0)

In [ ]:
max(23, 5, -2, 0)
min(23, 5, -2, 0)

In [ ]:
round(2.45, 1)
round(-1.2563, 3)
round(985, -2)

# Turtle Library

In [ ]:
import turtle as tur
import colorsys as cs

tur.setup(800,800)
tur.speed(0)
tur.tracer(10)
tur.width(2)
tur.bgcolor("black")
for j in range(25):
    for i in range(15):
        tur.color(cs.hsv_to_rgb(i/15,j/25,1))
        tur.right(90)
        tur.circle(200-j*4,90)
        tur.left(90)
        tur.circle(200-j*4,90)
        tur.right(180)
        tur.circle(50,24)
tur.hideturtle
tur.done()

In [1]:
import turtle 

turtle.speed(1)
turtle.shape("turtle")

turtle.forward(200)
turtle.left(90) # turn left 90
turtle.forward(200)
turtle.left(90)
turtle.forward(200)
turtle.left(90)
turtle.forward(200)

turtle.forward(200)
turtle.right(90)
turtle.forward(200)

turtle.backward(100)
turtle.color('red')
turtle.backward(100)

turtle.penup()

turtle.pendown()

turtle.width(3)
turtle.circle(100, 180)

turtle.mainloop()

# Loops

## While loop

In [ ]:
Syntax

while CONDITION:
    ACTION

In [ ]:
while True:
    print("Hello") # run endlessly

In [ ]:
# 1,2,3,4,5,6,7,8,9,10

number = 1
while number <= 10:
    print(number)
    number += 1 #number = number + 1

In [ ]:
# 2,4,6,8,...,20
num = 2
while num <= 20:
    print(num)
    num += 2

In [ ]:
number = 1
while number <= 20:
    if number % 2 == 0:
        print(number)
    else:
        number += 1

# number = 1
# while 1 <= 20
# if 1 % 2 == 0: -> False
# else:
# number += 1
# number = 2
# while 2 <= 20
# if 2 % 2 == 0: -> True

## break, continue, pass

In [ ]:
number = 1
while True:
    print(number)
    if number % 3 == 0 and number % 2 == 0:
        break
    #if number == 2:
        #continue
    if number == 2:
        pass
    number += 1

## For loop

#### range(start, stop, step)

In [ ]:
range(6) # 0,1,2,3,4,5
range(10) # 0-9
range(1) # 0
range(0) # Nothing
range(-3) # Nothing

range(2, 6) # 2,3,4,5
range(-1, 3) #
range(5, 2) # Nothing

range(3, 9, 2) # 3,5,7
range(-3, 7, 3) # -3,0,3,6
range(10, -1, -2) # 10,8,6,4,2,0

In [ ]:
for variable_name in range(SOMETHING):
    DO_SOMETHING

In [ ]:
for number in range(20, 5, -3):
    if number % 2 == 0:
        print(number)

In [ ]:
for num in range(1, 11):
    print(num ** 2)

## Nested loop

In [ ]:
while True:
    for i in range(10):
        while True:
            if True:
                pass
            elif True:
                pass

In [ ]:
for first_number in range(5):
    for second_number in range(6):
        print(first_number, second_number)

In [ ]:
for i in range(2, 5):
    for j in range(2, 6, 2):
        print(i, j)

In [ ]:
i = 2
while i < 5:
    for j in range(1, 5, 2):
        print(i, j)
        i += 1

# String

In [ ]:
empty_string = ""
empty_string = ''
empty_string = """"""
empty_string = str()

s = "Jedi loves Ve"
s = """
Jedi loves Ve
Jedi loves pizza
...
"""

my_sentence = 'I am a boy'
# my_sentence = 'I'm a boy' # NOT POSSIBLE
my_sentence = "I'm a boy"
quote = "she said that \"I'm a boy\""

s1 = "Hello,"
s2 = " Vetit"
s1 + s2

In [ ]:
s3 = "Palm"
s4 = s3 * 3 # s3 + s3 + s3
s4

# Indexing

In [ ]:
s = "Hello, world!"
s = "Bangkok, Thailand: 100C"
s[4]
s[-1]

## Slicing

In [ ]:
s = "I love peacock!"
s[1:8] # 1-7
s[1:8:2] #1,3,5,7
s[-3:-10:-2] #-3, -5, -7, -9
s[:6] # 0,1,2,3,4,5
s[9:]
s[:]
s[::2]
s[::-1]
s[-15:15]
s1 = s[:6]
s2 = s[10:]
s1 + " " + s2

# f-string (String Format)

In [ ]:
user_name = input()
age = input()
birthdate = input()

greeting_msg = "Hello, " + user_name + ". Your age is " + age \
    + ", and your birth date is " + birthdate + "."
greeting_msg_formatted = f"Hello, {user_name}. Your age is {age}, and your birthdate is {birthdate}"

print(greeting_msg)
print(greeting_msg_formatted)

# Spliting

In [ ]:
greeting_msg_formatted.split()

In [ ]:
s = "I love banana"
s.split()

# in/not in operators

In [ ]:
s = "I love peacock!"
print("c" in s)
print("  " in s)
print("ov" in s)
print("ep" in s)
print("oe" in s)

In [ ]:
s = "I love peacock!"
if "o" in s:
    print("YAY")
elif "c" in s:
    print("SKY")
else:
    print("Palm" * 5)

if " " not in s or s[4] == "v":
    print("HELLO")
else:
    print("WORLD!")

In [ ]:
s = "I love peacock!"
result = s.count("c")
print(result)

In [ ]:
s.capitalize()
s.upper()
s.lower()
s = "I LOVE PEACOCK!"
s.isupper()
new_string = s.replace("O", "I")

In [ ]:
s = "i love peacock"
for i in range(14):
    print(s[i])

loop by index

In [ ]:
s = "i lov"
for i in range(len(s)):
    print(s[i])

Enumerate

In [ ]:
s = "i love peacock!"
for i, character in enumerate(s):
    print(i, character)

# Container

## List

In [ ]:
empty_list = []
empty_list = list()

numbers = [1, 2, 3, 4]
my_list = [1, 0.2, True, "Vetit", None, [], [1, 2], print, input, empty_list]

# Length, Indexing, Slicing, Loop

In [ ]:
l = [1, True, 0.5]
len()

In [ ]:
s = "Vetit"
s[3]
l[2]
l[-1]

In [ ]:
l = [1, True, 0.5, "Palm", None, print]
l[1:3] # 1, 2
l[::-1]

In [ ]:
l = [1, 2, 0.5, None, 1, "Vetit"]
l[1] = 3
l[5][1]

# Modifying Out List

## Add

In [ ]:
l = [1, 2, 3]
l.append(4)
l
l.insert(0, True)
l
l.extend([5, 6, 7, 8, 9, 10])
l += [5, 6, 7, 8, 9, 10] # same as previous line
l

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
# c = [[1, 2, 3], [4, 5, 6]]
c = []
c.extend([a, b])
c

In [ ]:
l = [1, 2, 3]
last_element = l.pop(1)
last_element

In [ ]:
l = [1, True, 0.5, None, 1, print]
l.remove(1)
l

In [ ]:
l = [1, True, 0.5, None, 1, "Vetit"]
for 1 in l:
    print(element)
    if element == 1:
        l.remove(element)

# print()

In [ ]:
l = [1, 2, 0.5, None, 1, "Vetit"]
count_of_one = l.count(1)

for i in range(count_of_one):
    l.remove(1)
l

In [ ]:
l = [1, 2, 0.5, None, 1, "Vetit"]
new_list = []

for element in l:
    if element != 1:
        new_list.append(element)

new_list

## Update/Change the element

In [ ]:
l = [1, 2, 0.5, None, 1, "Vetit"]
l[1] = 3

# *list (List extractor)

In [ ]:
l = [1, True, 0.5, "Palm", None, print]
print(*l)

In [26]:
zeroes = [0] * 10
[3] + [2]

In [ ]:
l = [1, 2, 1, 3, 1, 4]
l.reverse()
l

In [ ]:
l = [1, 2, 1, 3, 1, 4]
l.sort(reverse=True)
l

In [ ]:
l = ['Vetit', 'Due']
l.sort()
l

## in/not in

In [ ]:
s = 'I love pea'
'v' in s

In [ ]:
l = [1, 2, 1, 3, 1, 4]
1 not in l
print([1, 2] in l) #False
print([3] in l)

In [ ]:
l = [1, 2, 1, 3, 1, 4, [3]]
if 5 in l:
    print("YAY")
else:
    print("NOOO")

#### map

In [ ]:
l = [1.5, 2.5, 3.5]
list(map(int, l))

In [ ]:
l = [0, 1, 0.0]
list(map(str, l))

In [ ]:
l = list(map(int, input().split()))

## in code

In [ ]:
l = input().split()
list(map(int, l))

# Tuple

Tuple is a list but
1. immutable (cannot be changed, added, or deleted)

In [ ]:
empty_list = []
empty_tuple = ()
empty_tuple = tuple()

t = (1, 2, 3)
one_element_tuple = (2,)

type(one_element_tuple)

# Action

## All actions
### List
- if else elif
- loops
- in/ not in
- add ele
- remove ele
- change ele
- .count()
- .sort(), .reverse()
- len()
- *list
- map()
- list * 5
- list1 + list2

In [ ]:
t = (7,4,1)
ti = sorted(t)
ti

In [ ]:
tuple(map(int, input().split()))

In [ ]:
t = (4, 1, 3)
t * 5

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2

1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (in python!) that stores sequence of data

# Set

## Set operations

- union
- intersection
- difference

In [1]:
empty_set = set()
non_empty_set = {1, 2, 3, 3}
non_empty_set

{1, 2, 3}

In [ ]:
l = [1, 2, 3, 3, 4]
t = (1, 2, 3, 4, 4, 5)
set(t)

### union

In [2]:
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)
a | b

{1, 2, 3, 4, 5}

### intersection

In [ ]:
a.intersection(b)
a & b

In [ ]:
a.difference(b)
a-b
b-a
b.difference(a)

### In/ not in

In [3]:
s = {1, 2, 3}
l = [1, 2, 3]
0 in l
0 not in s

True

In [ ]:
if 1 in s:
    print('YAY')
else:
    print('I love pea!')

### loop

In [ ]:
s = {1, 2, 3}
for ele in s:
    print(ele)

In [4]:
s = {'apple', 'banana', 'cat', 'dog'}
for i, ele in enumerate(s):
    print(i, ele)

0 dog
1 cat
2 apple
3 banana

In [5]:
hash('apple')

-786435694387746787

## Dictionary

In [ ]:
empty_dict = {}
empty_dict = dict()

animals_legs = {'hourse': 4, 'human': 2, 'fish': 'zero'}

In [ ]:
# d = {[1, 2]: 'NO'}
# d = {{1, 2}: 'NO'}
d = {(1, 2): 'NO'}
d = {True: 'NO'}

### calling

In [ ]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 3, (1,2): 0}
animals_legs['horse']

### change the value

In [ ]:
animals_legs['horse'] = 6
animals_legs

### add key-value pair

In [ ]:
animals_legs['centipede'] = 100
animals_legs

### Operations

In [ ]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}
len(animals_legs)

### in/ not in

In [ ]:
'turtle' not in animals_legs

### Methods

In [ ]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
animals_legs.get('turtle', 5)
# animals_legs['turtle']

animals_legs

animals_legs.update({'horse': 6})
animals_legs['horse'] = 6

### delete item

In [ ]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
# del animals_legs['horse']
animals_legs.popitem()
animals_legs.pop('horse')
animals_legs

### loops

In [ ]:
list(animals_legs.items())
list(animals_legs.keys())
list(animals_legs.values())

In [ ]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
for key in animals_legs:
    print(key)

In [ ]:
for i, element in enumerate(animals_legs):
    print(i, element)

In [ ]:
for i, ele in animals_legs.items():
    print(i, ele)

In [ ]:
for k in animals_legs.keys():
    print(k)

In [ ]:
for v in animals_legs.values():
    print(v)

In [ ]:
animals_legs.clear()
animals_legs

In [ ]:
l = [3, 2, 1]
sorted_l = sorted(l)
print(l)

# Topic Cover So Far

1. - Fundamental
2.  - Commenting
3.  - Input
4.  - Output
5.  - Variables
6.  - Operation
7.  - Condition
8.  - Loop
9. - Data Structure
10.  - String
11.  - List
12.  - Tuple
13.  - Set
14.  - Dictionary

# Code Organization

## Function, yes this is maths!

In [ ]:
def print_greeting():
    """
    This function will print hello for 3 times
    """
    print('Hello')
    print('Hello')
    print('Hello')

# Simple input and output

In [ ]:
def greet_person(person_name):
    """
    Receive the name of a person and print out the greeting
    sentence. 
    """
    print(f"Hello {person_name}.")
greet_person('Due')

In [ ]:
def give_me_number_3():
    return 3

print('Start')
number = give_me_number3()
print(number)
print('End')

In [ ]:
def calculate_price(number_of_apple):
    apple_price = 60
    return number_of_apple * apple_price

total_price = calculate_price(4)
print(f'The total price is {total_price}')

In [ ]:
def give_me_3_and_5():
    return 3, 5

print(give_me_3_and_5())
numbers = give_me_3_and_5()
print(numbers[0] * 5)

In [ ]:
first_num, second_num, third_num = (1, 2, 10)
print(first_num)

In [ ]:
def add_two_number(first_num, second_num):
    return first_num + second_num

In [ ]:
print(add_two_number(3, 5))

In [13]:
def calculate_price_v2(num_apple, apple_price):
    return num_apple * apple_price

# calculate_price_v2(3, 30)
calculate_price_v2(num_apple=10, apple_price=20)

200